<!-- Footer -->
<footer class="page-footer font-small black pt-4 fluid-bottom">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">To update,delete and view blogs</h5>
      </li>
      <li class="list-inline-item">
        <a href="{{ url_for('login') }}" class="btn btn-outline-white btn-rounded">Log In</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/i-Krypt"> Sam Nujoma</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->